
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    {% if app.user.employer is not null %}
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_home_dashboard', {'id': app.user.employer.agence.id}) }}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">AB COMPTA <sup>2</sup></div>
        </a>
    {% else %}
        {% for tempagence in app.user.tempAgences %}
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_home_dashboard', {'id': tempagence.agence.id}) }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">AB COMPTA V<sup>2</sup></div>
            </a>
        {% endfor %}
        
    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        {% if app.user.employer is not null  %}
            <a class="nav-link" href="{{ path('app_home_dashboard', {'id': app.user.employer.agence.id}) }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        {% else %}
            {% for tempagence in app.user.tempAgences %}
                <a class="nav-link" href="{{ path('app_home_dashboard', {'id': tempagence.agence.id}) }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            {% endfor %}
        {% endif %}
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsevente"
        aria-expanded="true" aria-controls="collapsevente">
        <i class="fas fa-fw fa-folder"></i>
        <span>Vente</span>
    </a>
    <div id="collapsevente" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Operation de vente</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="{{ path('app_vente') }}"> Ajouter une vente</a>
                <a class="collapse-item" href="{{ path('vente_list') }}">Liste vente</a>
            {% else %}
                <a class="collapse-item" href="{{ path('app_vente') }}"> Ajouter une vente</a>
                <a class="collapse-item" href="{{ path('vente_list') }}">Liste vente</a>
            {% endif %}
        </div>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseahcat"
        aria-expanded="true" aria-controls="collapseahcat">
        <i class="fas fa-fw fa-folder"></i>
        <span>Achat</span>
    </a>
    <div id="collapseahcat" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Operation des Achat</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="{{ path('achat_list') }}">Liste Achat</a>
                <a class="collapse-item" href="{{ path('app_achat') }}" >Ajouter un Achat</a>
            {% else %}
                <a class="collapse-item" href="{{ path('app_achat') }}" >Ajouter un Achat</a>
                <a class="collapse-item" href="{{ path('achat_list') }}">Liste Achat</a>
            {% endif %}
        </div>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseclient"
        aria-expanded="true" aria-controls="collapseclient">
        <i class="fas fa-fw fa-folder"></i>
        <span>Client</span>
    </a>
    <div id="collapseclient" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Operation des clients</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="#">Liste client</a>
            {% else %}
                <a class="collapse-item" href="{{ path('app_register') }}" id="ajouterClient">ajouter un client</a>
                <a class="collapse-item" href="#">Liste client</a>
                <a class="collapse-item" href="#">Liste des client Inactif </a>
            {% endif %}
        </div>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseproduit"
        aria-expanded="true" aria-controls="collapseproduit">
        <i class="fas fa-fw fa-folder"></i>
        <span>Produit</span>
    </a>
    <div id="collapseproduit" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Operation des produits</h6>
                {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                    <a class="collapse-item" href="{{ path('produit_list') }}">Liste produit</a>
                    <a class="collapse-item" href="{{ path('app_produit') }}" id="ajouterProduit">Ajouter un produit</a>
                {% else %}
                    <a class="collapse-item" href="{{ path('app_produit') }}" id="ajouterProduit">Ajouter un produit</a>
                    <a class="collapse-item" href="{{ path('produit_list') }}">Liste produit</a>
                {% endif %}
        </div>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefournisseur"
        aria-expanded="true" aria-controls="collapsefournisseur">
        <i class="fas fa-fw fa-folder"></i>
        <span>Fournisseur</span>
    </a>
    <div id="collapsefournisseur" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Operation des produit</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
            <a class="collapse-item" href="{{ path('app_fournisseur') }}" id="ajouterFourniseur">ajouter un Fournisseur</a>
                <a class="collapse-item" href="{{ path('fournisseur_list') }}">liste Fournisseur</a>
            {% else %}
                <a class="collapse-item" href="{{ path('app_fournisseur') }}" id="ajouterFourniseur">ajouter un Fournisseur</a>
                <a class="collapse-item" href="{{ path('fournisseur_list') }}">liste Fournisseur</a>
            {% endif %}
        </div>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Agence"
        aria-expanded="true" aria-controls="Agence">
        <i class="fas fa-fw fa-folder"></i>
        <span>Agence</span>
    </a>
    <div id="Agence" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Operation des agences</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="{{ path('app_agence_new') }}" id="ajouterFourniseur">Ajouter une Agence</a>
                <a class="collapse-item" href="{{ path('app_agence_list') }}" id="ajouterFourniseur">liste Agence</a>
            {% else %}
                <a class="collapse-item" href="{{ path('app_agence_new') }}" id="ajouterFourniseur">Ajouter une Agence</a>
                <a class="collapse-item" href="{{ path('app_agence_list') }}">liste Agence</a>
            {% endif %}
        </div>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsestock"
        aria-expanded="true" aria-controls="collapsestock">
        <i class="fas fa-fw fa-folder"></i>
        <span>Stock</span>
    </a>
    <div id="collapsestock" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Operation des Stock</h6>
                <a class="collapse-item" href="php/stock/sctockVente.php">Historique </a>
                <a class="collapse-item" href="php/achat/liste.php">Stock Achat </a>
                <a class="collapse-item" href="php/stock/recaptliste.php">Recapitulatif</a>
                <a class="collapse-item" href="php/stock/editeStock.php" id="ajouterStock">Stock Initiale / Inventaire</a>
        </div>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#versement"
        aria-expanded="true" aria-controls="versement">
        <i class="fas fa-fw fa-folder"></i>
        <span>Versement</span>
    </a>
    <div id="versement" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">versement:</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="{{ path('versement_list') }}">Liste versement</a>
                <a class="collapse-item" href="{{ path('app_versement') }}" >ajouter versement</a>
            {% else %}
                <a class="collapse-item" href="{{ path('app_versement') }}" >ajouter versement</a>
                <a class="collapse-item" href="{{ path('versement_list') }}">Liste versement</a>
            {% endif %}
        </div>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dette"
        aria-expanded="true" aria-controls="dette">
        <i class="fas fa-fw fa-folder"></i>
        <span>Dette client</span>
    </a>
    <div id="dette" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Dette:</h6>
            <a class="collapse-item" href="php/dette/dette.php">Liste credit</a>
        </div>
    </div>
    </li>

    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#caisse"
        aria-expanded="true" aria-controls="caisse">
        <i class="fas fa-fw fa-folder"></i>
        <span>Caisse</span>
    </a>
    <div id="caisse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Caisse </h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="php/caisse/liste.php">liste caisse</a>
            {% else %}
                <a class="collapse-item" href="php/caisse/caisse.php" >Caisse</a>
                <a class="collapse-item" href="php/caisse/liste.php">liste caisse</a>
            {% endif %}
        </div>
    </div>
    </li>

    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#utilisateur"
        aria-expanded="true" aria-controls="utilisateur">
        <i class="fas fa-fw fa-folder"></i>
        <span>utilisateur</span>
    </a>
    <div id="utilisateur" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">utilisateur:</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="{{ path('user_list') }}">Liste</a>
                <a class="collapse-item" href="{{ path('app_register') }}" id="ajouterUtilisateur">ajouter utilisateur</a>
            {% else %}
                <a class="collapse-item" href="{{ path('app_register') }}" id="ajouterUtilisateur">ajouter utilisateur</a>
                <a class="collapse-item" href="{{ path('user_list') }}">Liste</a>
            {% endif %}
        </div>
    </div>
    </li>

    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#depense"
        aria-expanded="true" aria-controls="depense">
        <i class="fas fa-fw fa-folder"></i>
        <span>Depense</span>
    </a>
    <div id="depense" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Depense:</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="{{ path('depenses_list',{'id': app.request.get('id')}) }}">Liste Depense</a>
                <a class="collapse-item" href="{{ path('app_depenses') }}">Depenses</a>
            {% else %}
                <a class="collapse-item" href="{{ path('app_depenses') }}">Depenses</a>
                <a class="collapse-item" href="{{ path('depenses_list',{'id': app.user.employer.agence.id}) }}">Liste Depense</a>
            {% endif %}
        </div>
    </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
    Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Composant vente</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Dette :</h6>
                <a class="collapse-item" href="php/dette/dette.php">Liste dette</a>
            <!--<a class="collapse-item" href="cards.html">Dette client</a>-->
        </div>
    </div>

    </li>

    <!-- Nav Item - Utilities Collapse Menu -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
    Administrateur
    </div>


    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#employer"
        aria-expanded="true" aria-controls="employer">
        <i class="fas fa-fw fa-folder"></i>
        <span>Employer </span>
    </a>
    <div id="employer" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Employer</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="{{ path('employer_list') }}">Liste </a>
                <a class="collapse-item" href="{{ path('app_employer') }}">Employer</a>
            {% else %}
                <a class="collapse-item" href="{{ path('app_employer') }}">Employer</a>
                <a class="collapse-item" href="{{ path('employer_list') }}">Liste </a>
            {% endif %}
        </div>
    </div>
    </li>


    <!-- Nav Item - Pages Collapse Menu -->

    <!-- Nav Item - Charts -->
    <li class="nav-item">
    <a class="nav-link" href="comptabilite.php">
        <i class="fas fa-fw fa-chart-area"></i>
        Comptabilite<span></span></a>
    </li>
    <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#jounale"
                aria-expanded="true" aria-controls="jounale">
                <i class="fas fa-fw fa-folder"></i>
                <span>Journal Comptable</span>
            </a>
            <div id="jounale" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Journal Comptable:</h6>
                    <a class="collapse-item" href="php/comptabilite/Journale.php">Jounal</a> 
                </div>
            </div>
    </li>
    <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#inventaire"
                aria-expanded="true" aria-controls="inventaire">
                <i class="fas fa-fw fa-folder"></i>
                <span>Analyse Evolutive</span>
            </a>
            <div id="inventaire" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Analyse Evolutive:</h6>
                    <a class="collapse-item" href="php/comptabilite/inventaire.php">Analyse Evolutive Moi</a> 
                    <a class="collapse-item" href="php/comptabilite/invantairesemaine.php">Analyse Evolutive Semaine</a> 
                </div>
            </div>
    </li>

    <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#etatresultat"
                aria-expanded="true" aria-controls="etatresultat">
                <i class="fas fa-fw fa-folder"></i>
                <span>Etat des resultats</span>
            </a>
            <div id="etatresultat" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Etat des resultats:</h6>
                    <a class="collapse-item" href="php/comptabilite/etatresultat.php">marge beneficiere</a> 
                    <a class="collapse-item" href="php/comptabilite/chiffreaffaire.php">CHIFFRE AFFAIRES</a>
                    <a class="collapse-item" href="php/comptabilite/ProduitStocks.php">Production et Stocks</a>  
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bilan"
                aria-expanded="true" aria-controls="bilan">
                <i class="fas fa-fw fa-folder"></i>
                <span>Bilan Comptable</span>
            </a>
            <div id="bilan" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header"> Bilan :</h6>
                    <a class="collapse-item" href="php/bilan/actif.php">Actif Bilan</a>
                    <a class="collapse-item" href="php/bilan/liste.php">liste Actif</a>
                    <a class="collapse-item" href="php/bilan/passif.php">Passif Bilan</a>
                    <a class="collapse-item" href="php/bilan/listepasif.php">liste Passif</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tresor"
                aria-expanded="true" aria-controls="tresor">
                <i class="fas fa-fw fa-folder"></i>
                <span>Tresorerie</span>
            </a>
            <div id="tresor" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header"> Tresorerie :</h6>
                    <a class="collapse-item" href="php/tresorerie/tresorerie.php"> tresorerie</a>
                    <a class="collapse-item" href="php/tresorerie/liste.php">liste </a>
                    
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#compteresultat"
                aria-expanded="true" aria-controls="compteresultat">
                <i class="fas fa-fw fa-folder"></i>
                <span>Compte Resultat : </span>
            </a>
            <div id="compteresultat" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header"> Compte Resultat :</h6>
                    <a class="collapse-item" href="php/compteresultat/compteresultat.php">Compte Resultat</a>
                    <a class="collapse-item" href="php/compteresultat/liste.php">liste </a>
                    
                </div>
            </div>
        </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
    <a class="nav-link" href="">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
</ul>