{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESTION DE STOCK</title>

    <!-- Custom fonts for this template -->
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    
    <style>
        .cacher{
            display: none;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "navbarA.html.twig" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "topbar.html.twig" %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">facture Numero : {{ id }} </h1>
                    <p class="mb-4">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3"> 
                                <div class="row">
                                    <p class="col-md-0"><h6 class="m-0 font-weight-bold text-primary">facture</h6></p>
                                    <p class="col-md-0"> </p>
                                    
                                        

                                    <p class="col-md-2"> Nom Client : {{client.nom}}</p>
                                    <p class="col-md-2"> Telephone : {{ client.user.telephone }} </p>
                                    
                                    <p class='col-md-2 '> <a href='../pdf/getfacture.php?id=" . $_GET["id"] . "' class='btn btn-info btn-user'>Imprimer</a></p>  
                                      
                                    <p class='col-md-1 '> <button  class='btn btn-warning btn-user' onclick="editefacture()">Edite</button></p> 
                                    <p class='col-md-2 '> <button  class='btn btn-danger btn-user' onclick=''>Supprimer</button></p>
                                    <p class='col-md-2 '> <a href='modifiction.php?id=" . $_GET["id"] . "' class='btn btn-secondary btn-user'>changer client</a></p>
                                    
                                    <span class='cacher' id='id'>{{ id }}</span>

                                    
                                </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                       
                                        <tr>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>quantite</th>
                                            <th>prix unitaire</th>
                                            <th>montant</th>
                                            <th>Typepaiement</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        
                                    </tfoot>
                                    <tbody>
                                        {% for row in facture %}
                                            <tr>
                                                <td>{{ row.id }}</td>
                                                <td>{{ row.produit.nom }}</td>
                                                <td>{{ row.quantite }}</td>
                                                <td>{{ row.prix }}</td>
                                                <td>{{ row.montant }}</td>
                                                <td>{{ row.type }}</td>
                                            </tr>
                                        {% endfor %}
                                        
                                        <tr>
                                            <td>Total</td>
                                            <td>-</td>
                                            <td>{{ vente.quantite }}</td>
                                            <td>{{ vente.prix }}</td>
                                            <td>{{ vente.prix + vente.reduction }}</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Production &copy; {{ 'now'|date("Y-m-d") }}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    
    <script src="{{ asset('js/venteA.js') }}"></script>

</body>

</html>
{% endblock %}

