{% extends 'base.html.twig' %}

{% block title %} FournisseurController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESTION DE STOCK</title>

    <!-- Custom fonts for this template-->
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block bg-register-image">
                        {% include "navbar.html.twig" %}
                    </div>
                    <div class="col-lg-10">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Fournisseur</h1>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="form-group row">
                                        <div class="col-sm-8 mb-3 mb-sm-0">
                                            Enregistrer un Achat
                                        </div>
                                        {% for message in app.flashes('success') %}
                                            <div class="alert alert-success">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        <div class="col-sm-2 mb-3 mb-sm-0">
                                            {% for tempagence in app.user.tempAgences %}
                                                <a href="{{ path('app_home_dashboard', {'id': tempagence.agence.id}) }}" class="btn btn-primary btn-user btn-block">
                                                    <i class="fas fa-home"></i>
                                                        home
                                                </a>  
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm-2 mb-3 mb-sm-0">
                                            <a href="{{ path('fournisseur_list') }}" class="btn btn-primary btn-user btn-block">
                                                <i class="fas fa-list"></i>
                                                List
                                            </a>
                                        </div>      
                                    </div> 
                                </div>
                            </div>
                            {{ form_start(form) }}
                            {{ form_end(form) }}
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->

</body>

</html>
{% endblock %}
