{% extends 'base.html.twig' %}

{% block title %} Achat!{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESTION DE STOCK</title>

    <!-- Custom fonts for this template-->
   
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class=" form-group row">
                    <div class="col-lg-2 d-none d-lg-block bg-register-image">
                        {% include "navbar.html.twig" %}
                    </div>
                    <div class="col-lg-10">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Achat</h1>
                            </div>
                           <!-- <form class="user"  >-->               
                                    <!-- DataTales Example -->
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <div class="card-header py-3">
                                                <div class="form-group row">
                                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                                        Enregistrer un Fournisseur
                                                    </div>
                                                    {% for message in app.flashes('success') %}
                                                        <div class="alert alert-success">
                                                            {{ message }}
                                                        </div>
                                                    {% endfor %}
                                                    <div class="col-sm-2 mb-3 mb-sm-0">
                                                        {% for tempagence in app.user.tempAgences %}
                                                            <a href="{{ path('app_home_dashboard', {'id': tempagence.agence.id}) }}" class="btn btn-primary btn-user btn-block">
                                                                <i class="fas fa-home"></i>
                                                                home
                                                            </a>  
                                                        {% endfor %}
                                                    </div>
                                                </div>      
                                            </div>
                                            <br>
                                            <div class="row">
                                                <p class="btn btn-warning btn-user col-md-4" onclick="ajouterLigne('dataTable', 
                                                5, 10)">ajouter ligne d'achat</p>
                                                <p class="col-md-2" >quantite : <span id="quantitetotal">0</span></p>
                                                <p class="col-md-2" >prix : <span id="prixtotal">0</span></p>
                                                <p class="col-md-3" >
                                                    <input type="date" class="form-control form-control-user" id="datefacture"
                                                name="datefacture" placeholder="date achat">
                                            </p>
                                            </div>
                                            <span id="verificatiobDonne"></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable"  width="100%" cellspacing="0">
                                                    <thead>
                                                    
                                                        <tr>
                                                            <th>Fourniseur</th>
                                                            <th>description</th>
                                                            <th>quantite</th>
                                                            <th>prix_unite</th>
                                                            <th>Mantant</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                       
                                                        
                                                    </tfoot>
                                                    <tbody>
                                                       
                                                        <tr class="br-primary">
                                                            <th class = >
                                                            <div class="form-group ">
                                                            <input type="search" id="fourni" onkeyup="recherfourniseur()"  class="form-control" placeholder="recherche fournisseur">
                                                                <select id="fournisseur"  name="fournisseur"  class="form-control form-select" required size="4" multiple aria-label="multiple select">
                                                                 {% for row in form.fournisseur.vars.choices %}
                                                                        <option value="{{ row.value }}">{{ row.data.nom  }}</option>
                                                                {% endfor %} 
                                                                </select>
                                                            </div>
                                                            </th>
                                                            <th>
                                                                <div class="form-group row">
                                                                
                                                                <input type="text" class="form-control form-control-user" id="produitname"
                                                                    name="produitname" placeholder="Nom produit" onkeyup="recherproduit()" required> 
                                                                    <select id="nomProduit"  name="nomProduit"  class="form-control form-select" required size="4" multiple aria-label="multiple select">
                                                                    {% for row in form.produit.vars.choices %}
                                                                        <option value="{{ row.value }}">{{ row.data.nom }}</option>
                                                                    {% endfor %}
                                                                    
                                                                    </select>
                                                                
                                                            </div>
                                                        </th>
                                                            <th> 
                                                                <input type="number" class="form-control form-control-user"
                                                                    name="quantite" id="quantite" placeholder="quantite" required>
                                                            </th>
                                                            <th>
                                                                <input type="number" class="form-control form-control-user"
                                                                name="prixglobal" id="prixglobal" placeholder="Prix du produit">   
                                                            </th>
                                                            <th>
                                                            <p class="form-control form-control-user" id="montanttotal">
                                                               <span id="resultat"></span> cfa
                                                            </p>   
                                                        </tr>
                                                    
                                                    </tbody>
                                                </table>
                                                <hr>
                                                <button  class="btn btn-primary btn-user btn-block" onclick="enregistrementDonnees('dataTable')">
                                                    Enregistrer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    
                                </div>
                            <!--</form> -->
                            <hr>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('js/achat.js') }}"></script>    
    
    <!--<script src="achat.js"></script>-->
    
</body>
</html>
{% endblock %}
